In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests as rq

In [14]:
from selenium import webdriver

driver = webdriver.Chrome(executable_path="/home/andy/Documents/chromedriver_linux64 (1)/chromedriver")

/tmp/ipykernel_13194/2855516878.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path="/home/andy/Documents/chromedriver_linux64 (1)/chromedriver")

In [3]:
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import WebDriverException

In [4]:
import time
import random

In [5]:
url = "https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season={}-{}&SeasonType=Regular%20Season"

In [6]:
driver.get(url)

In [7]:
driver.find_element_by_id('onetrust-accept-btn-handler').click()

/tmp/ipykernel_13194/977021951.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('onetrust-accept-btn-handler').click()

In [8]:
driver.execute_script("window.scrollTo(1,10000)")

In [7]:
source = driver.page_source

In [8]:
with open('test.html', 'w+') as f :
    f.write(source)

In [12]:
def download_page(year):
    print(f'Getting the page for the year : {year}')
    year2 = int(str(year)[2:])
    url_ = f'https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season={year-1}-{year2}&SeasonType=Regular%20Season'
    print(year, year2)
    #print(url_)
    
    if year in list(range(1999, 2011)) :
        url_ = f'https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season={year-1}-0{year2}&SeasonType=Regular%20Season'
    print(url_)
    
    #loading the page 
    driver.get(url_)
    try:
        driver.find_element_by_id('onetrust-accept-btn-handler').click()
        time.sleep(random.randint(1,3))
        
    except NoSuchElementException:
        pass
    
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(random.randint(1,3))
    html_page = driver.page_source
    
    with open(f'team_html2/{year}.html', 'w+') as f:
        f.write(html_page)
        
    print(f'Year : {year} Done!\n')
    print('-------------------------------')

In [10]:
download_page(2020)

Getting the page for the year : 2020
2020 20
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2019-20&SeasonType=Regular%20Season

/tmp/ipykernel_13194/2902389767.py:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('onetrust-accept-btn-handler').click()

Year : 2020 Done!

-------------------------------

**Getting the pages**

In [15]:
for year in range(2007, 2023) : 
    try:
        download_page(year)
        
    except WebDriverException:
        print('Another try')
        download_page(year)

Getting the page for the year : 2007
2007 7
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2006-07&SeasonType=Regular%20Season

/tmp/ipykernel_13194/610785469.py:15: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_id('onetrust-accept-btn-handler').click()

Year : 2007 Done!

-------------------------------
Getting the page for the year : 2008
2008 8
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2007-08&SeasonType=Regular%20Season
Year : 2008 Done!

-------------------------------
Getting the page for the year : 2009
2009 9
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2008-09&SeasonType=Regular%20Season
Year : 2009 Done!

-------------------------------
Getting the page for the year : 2010
2010 10
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2009-010&SeasonType=Regular%20Season
Year : 2010 Done!

-------------------------------
Getting the page for the year : 2011
2011 11
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2010-11&SeasonType=Regular%20Season
Another try
Getting the page for the year : 2011
2011 11
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2010-11&SeasonType=Regular%20Season
Year : 2011 Done!

-------------------------------
Getting the page for the year : 2012
2012 12
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2011-12&SeasonType=Regular%20Season
Year : 2012 Done!

-------------------------------
Getting the page for the year : 2013
2013 13
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2012-13&SeasonType=Regular%20Season
Another try
Getting the page for the year : 2013
2013 13
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2012-13&SeasonType=Regular%20Season
Year : 2013 Done!

-------------------------------
Getting the page for the year : 2014
2014 14
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2013-14&SeasonType=Regular%20Season
Year : 2014 Done!

-------------------------------
Getting the page for the year : 2015
2015 15
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2014-15&SeasonType=Regular%20Season
Year : 2015 Done!

-------------------------------
Getting the page for the year : 2016
2016 16
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2015-16&SeasonType=Regular%20Season
Year : 2016 Done!

-------------------------------
Getting the page for the year : 2017
2017 17
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2016-17&SeasonType=Regular%20Season
Year : 2017 Done!

-------------------------------
Getting the page for the year : 2018
2018 18
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2017-18&SeasonType=Regular%20Season
Year : 2018 Done!

-------------------------------
Getting the page for the year : 2019
2019 19
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2018-19&SeasonType=Regular%20Season
Year : 2019 Done!

-------------------------------
Getting the page for the year : 2020
2020 20
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2019-20&SeasonType=Regular%20Season
Year : 2020 Done!

-------------------------------
Getting the page for the year : 2021
2021 21
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2020-21&SeasonType=Regular%20Season
Year : 2021 Done!

-------------------------------
Getting the page for the year : 2022
2022 22
https://www.nba.com/stats/teams/advanced/?dir=-1&sort=W&Season=2021-22&SeasonType=Regular%20Season
Year : 2022 Done!

-------------------------------

In [10]:
table = soup.find(name='div', attrs={'class' : "nba-stat-table"})

In [3]:
with open('test.html', 'r') as f :
    soup = BeautifulSoup(f)

In [12]:
table = soup.find(name='div', attrs={'class' : "nba-stat-table"})

In [13]:
df = pd.read_html(str(table))[0]

**Extracting the data from the pages**

In [5]:
import os

In [6]:
directory = 'team_html2'
filename_list = list()

for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    if os.path.isfile(f):
        filename_list.append(f)
        
print(filename_list)

['team_html2/1997.html', 'team_html2/2003.html', 'team_html2/1992.html', 'team_html2/2007.html', 'team_html2/1991.html', 'team_html2/2022.html', 'team_html2/2015.html', 'team_html2/2013.html', 'team_html2/2021.html', 'team_html2/2004.html', 'team_html2/2012.html', 'team_html2/2006.html', 'team_html2/2008.html', 'team_html2/2009.html', 'team_html2/2005.html', 'team_html2/1993.html', 'team_html2/1999.html', 'team_html2/2011.html', 'team_html2/2020.html', 'team_html2/2001.html', 'team_html2/2017.html', 'team_html2/2010.html', 'team_html2/1995.html', 'team_html2/1996.html', 'team_html2/1994.html', 'team_html2/1998.html', 'team_html2/2014.html', 'team_html2/2002.html', 'team_html2/2018.html', 'team_html2/2000.html', 'team_html2/2016.html', 'team_html2/2019.html']

In [13]:
df_array = list()


for filename in filename_list:
    with open(filename, 'r') as f:
        soup = BeautifulSoup(f)
        
    table = soup.find(name='div', attrs={'class' : "nba-stat-table"})
    df = pd.read_html(str(table))[0]
    #print(df)
    df['year'] = str((filename.split('/')[1]).split('.')[0])
    
    df_array.append(df)
    
final_df = pd.concat(df_array)

In [14]:
final_df.sample(10)

,Unnamed: 0,TEAM,GP,W,L,MIN,OffRtg,DefRtg,NetRtg,AST%,...,ASTRatio RANK,OREB% RANK,DREB% RANK,REB% RANK,TORatio RANK,eFG% RANK,TS% RANK,PACE RANK,PIE RANK,year
28,29,Orlando Magic,82,21,61,3966.0,101.4,108.8,-7.4,54.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004
16,16,Charlotte Hornets,82,43,39,3976.0,113.6,113.1,0.5,65.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1996
24,25,Milwaukee Bucks,82,30,52,3956.0,105.1,108.1,-3.0,58.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005
19,20,Orlando Magic,82,35,47,3981.0,104.4,106.0,-1.6,59.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
0,1,Chicago Bulls,82,69,13,3946.0,112.4,100.7,11.8,65.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997
6,6,Phoenix Suns,82,55,27,3956.0,112.0,107.0,5.0,64.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008
26,27,Atlanta Hawks,82,30,52,3976.0,102.0,107.0,-5.1,55.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007
2,3,Golden State Warriors,82,53,29,3946.0,112.1,106.6,5.5,66.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
23,24,Dallas Mavericks,82,20,62,3981.0,98.9,105.2,-6.3,53.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1998
21,22,Cleveland Cavaliers,82,32,50,3971.0,98.7,102.2,-3.5,65.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000

In [16]:
final_df.to_csv('nba_site_team.csv')